{% extends '../base.html' %}

<!-- Load Static -->
{% load static %}

<!-- Content -->
{% block content %}

<div class="row gx-4 gy-4">
  <div class="col-lg-12">
    <div class="card shadow border-0">
      <div class="card-header px-4 py-3">
        <h5>Delete Lead</h5>
      </div>
      <div class="card-body p-4">
        <form method="post">
          {% csrf_token %}
          <!-- Fields -->
          {{ form.as_p }}
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
